/* 引入 Lato 字体 */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "宋体", "PingFang SC", "Microsoft YaHei", sans-serif !important;
  line-height: 1.8;
  font-weight: 500;
  font-size: auto;
  overflow-x: hidden;
  letter-spacing: 1px;
  color: #4f4f4f;
  background-color: #fff;
  text-align: justify;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

/* 响应式设计：小屏幕下调整字体大小 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
  .markdown-preview {
      background: -webkit-linear-gradient(top, transparent 19px, #efefef 20px),
          -webkit-linear-gradient(left, transparent 19px, #efefef 20px),
          #fff;
      background-size: 20px 20px;
      border-radius: 5px;
      
      padding: 2em calc(34% - 536px + 2em);
      box-sizing: border-box;



      &>:first-child {
          margin-top: 0
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
          line-height: 1;
          margin-top: 40px;
          margin-bottom: 16px;
      }

      h1 {
          font-size: 22px;
          color: #646464;
          position: relative;
          margin-bottom: 1.8em;
          text-align: center;
          border-bottom: 2px dotted #eea20a;
          padding: 20px;
          border-top: 2px dotted #eea20a;
          counter-reset: h2counter;
          z-index: 1;

          &::before {
              content: "";
              position: absolute;
              right: 0px;
              bottom: 0;
              width: 100px;
              height: 60px;
              background: url(https://s1.ax1x.com/2023/03/14/pplcbWV.png);
              background-size: 100%;
              z-index: -1;
          }
      }

      h2 {
          font-size: 18px;
          color: #eea20a;
          counter-reset: h3counter;

          &:before {
              counter-increment: h2counter;
              content: counter(h2counter);
          }
      }

      h3 {
          font-size: 17px;
          color: #555cbe;
          counter-reset: h4counter;

          &:before {
              counter-increment: h3counter;
              content: counter(h2counter) "." counter(h3counter);
          }
      }

      h4 {
          font-size: 15px;
          color: #5a5a5a;

          &:before {
              counter-increment: h4counter;
              content: "（" counter(h4counter) "）";
              margin-left: -7px;
              padding-right: 20px;
          }
      }

      h5,
      h6 {
          font-size: 15px;
          color: #5a5a5a;
          margin-bottom: 24px;
      }

      h2::before,
      h3::before,
      h4::before,
      h5::before,
      h6::before {
          min-width: 40px;
          display: inline-block;
          padding-right: 15px;
      }


      h5:before {
          content: "❥";
          margin-left: 3px;
          padding-right: 12px;
      }

      h6:before {
          content: "(❥)";
      }
/* 加粗 */
      strong {
          /* color: #fa6069; */
          color: #000000;
          padding: 0 2px;
      }
/* Italics */
      em {
          color: #3e2a6d;
          font-style: normal;
          padding: 2px;

          strong {
              color: #ff0000;
              padding: 10px 0 0 0;
              margin-left: -10px;
              /* font-size: 14px; */
              font-size: 15px;
              font-weight: bold;
              margin-bottom: 2px;
              display: inline-block;

              &::after {
                  content: "」";
              }

              &::before {
                  content: "「";
              }
          }
      }


      del {
          color: #f10a5f;
      }

      a {
          color: #00aaff;
          text-decoration: none;

          &:hover {
              color: #00aaff;
              text-decoration: none
          }

          &:not([href]) {
              color: inherit;
              text-decoration: none
          }
      }
      p {
        text-indent: 2em;//首行缩进
      }
      
/* 图片 */
      img {
          max-width: 100%;
          border: 1px solid #f2f2f2;
          border-left: 1px solid #d9d9d9;
          border-radius: 2px;
          margin-right: 3px;
          margin-top: 10px;
          margin-bottom: 15px;
          padding: 8px;
          vertical-align: bottom;
          background-color: #ffffffc9;
          box-shadow: 5px 8px 9px -1px rgb(0 0 0 / 3%),
              0 3px 5px 0 rgb(0 0 0 / 3%),
              2px 3px 4px -1px rgb(0 0 0 / 4%);
          box-sizing: border-box;

          &[src*='img_5'] {
              width: 49%;
          }

          &[src*='img_3'] {
              width: 33%;
          }

          &[src*='img_7'] {
              width: 70%;
          }

      }
/* 列表 */
      ul.no-list,
      ol.no-list {
          padding: 0;
          list-style-type: none
      }

      ul,
      ol {
          margin-left: -20px;
          margin-top: 20px;

          li {
              margin-bottom: 18px;
              list-style: inherit;
          }
      }

      ol ul,
      ol ol,
      ul ul,
      ul ol {
          padding-left: 5em;
          margin-top: 8px;
          /* font-size: 14px; */
          font-size: 15px;

          li {
              margin-bottom: 7px;
          }
      }

      ul li {
          list-style: square;
      }

      ol li {
          padding-left: 6px;
      }

      .contains-task-list {
          padding-left: 110px;
      }

      .task-list-item {
          list-style: none;
      }


      li>p {
          margin-top: 0;
          margin-bottom: 0
      }

      .task-list-item-checkbox {
          margin: 0 .2em .25em -1.8em;
          vertical-align: middle
      }
/* 表格 */
      input[type=checkbox] {
          cursor: pointer;
          position: relative;
          width: 15px;
          height: 15px;
          /* font-size: 14px; */
          font-size: 15px;
          border-radius: 2px;
      }
/* 复选框 */
      input[type=checkbox]::before {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
          background: #FFF;
          border: 1px solid #555cbe;
          border-radius: 2px;
          box-sizing: border-box;
          z-index: 1;
      }
/* 复选框选中 */
      input[type=checkbox]:checked::after {
          position: absolute;
          top: -10px;
          left: 0px;
          content: "✓";
          color: #fa6069;
          font-size: 22px;
          font-weight: bold;
          z-index: 2;
      }

/* 引用 */
      blockquote {
          color: #666;
          padding: 8px 23px;
          margin: 6px 0;
          border-left: 4px solid #555cbe;
          background-color: #f3f4ff;

          &::after {
              display: block;
              content: '';
          }

          &>p {
              margin: 16px 0;
          }

          &>p>code {
              text-shadow: 0px 0px 1px #d7ffe5;
          }

          &>:first-child {
              margin-top: 0
          }

          &>:last-child {
              margin-bottom: 0
          }
      }

      hr {
          border-top: 1px solid #ddd;
          border-bottom: none;
          border-left: none;
          border-right: none;
          margin-top: 32px;
          margin-bottom: 32px;
      }

/* 三线表 */
table {
    border-top: 1.5pt solid;
    border-bottom: 1.5pt solid;
    font-family: 'Latin Modern Roman 10', 'LM Roman 10', "Times New Roman", Arial, "Source Han Serif SC", 'simsun', sans-serif;
    text-align: center;
    /*文字居中*/
    page-break-inside: avoid;
    /*禁止断页*/
    width: 100%;
    /*扩展表格宽度*/
    overflow: auto;
    margin-bottom: 8pt;
    /*表格间距*/
    border-collapse: collapse;
  }
  
  table .katex {
    font-size: 9pt;
    /*表内公式*/
  }
  
  table td {
    font-family: 'Latin Modern Roman 10', 'LM Roman 10', "Times New Roman", Arial, "Source Han Serif SC", 'simsun', sans-serif;
    font-size: 9pt;
    /*表内文字*/
  }
  
  table thead {
    border-bottom: 0.75pt solid black;
    /*三线表中间线*/
  }
  
  /*标题行*/
  table th {
    font-family: 'Latin Modern Roman 10', 'LM Roman 10', "Times New Roman", Arial, "SimHei", "Source Han Serif SC", 'simsun', sans-serif;
    font-size: 9pt;
  }
  




      thead {
          background: #eff3f5;
          color: #555cbe;
          text-align: left;
      }

      tr:nth-child(2n) {
          background-color: #fcfcfc;
      }

      td {
          min-width: 120px;
      }

      table td,
      table th {
          padding: 12px 10px;
          line-height: 24px;
          border: #e0e0e0 solid 1px;
      }

      dl {
          padding: 0;

          dt {
              padding: 0;
              margin-top: 16px;
              font-size: 1em;
              font-style: italic;
              font-weight: bold
          }
      }

      dl dd {
          padding: 0 16px;
          margin-bottom: 16px
      }


      p mark {
          padding: 1.5px 6px;
          margin: 0 .5em;
          background-color: #ffff00dc;
          color: #242424;
      }

      pre>code {
          font-size: 12px;
          font-family: inherit;
          color: #fff;
          letter-spacing: 1px;
          padding: 15px 12px;
          margin: 0;
          word-break: normal;
          display: block;
          overflow-x: auto;
          padding-left: 2em;
      }

      .highlight {
          margin-bottom: 16px
      }

      .highlight pre,
      pre {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
          position: relative;
      }

      .mume-header+pre {
          margin-top: inherit;
      }

      .highlight pre {
          margin-bottom: 0;
          word-break: normal
      }

      pre code,
      pre tt {
          display: inline;
          max-width: initial;
          padding: 0;
          margin: 0;
          overflow: initial;
          line-height: inherit;
          word-wrap: normal;
          background-color: transparent;
          border: 0
      }

      pre code:before,
      pre tt:before,
      pre code:after,
      pre tt:after {
          content: normal
      }

      kbd {
          color: #2f2f2f;
          border: 1px solid #43484c;
          padding: 2px 4px;
          border-radius: 3px
      }

/* html <a> 标签样式 */  
  a {
      text-decoration: none;
      color: #4ea1db;
      border-bottom: 1px solid #a5c7e7;

      &:hover,
      &:active {
          color: #275b8c;
      }
  }
/* 代码块 */

}

    /* ----------------------- */
@import url(my_code_style.less);

@import url(bar.less);

@import url(print.less);

/* ----------------------- */
/* 侧边栏收起时处理页面宽度 */
[for="html-export"]:not([data-presentation-mode]):not([html-show-sidebar-toc]) .markdown-preview {
    left: 50% !important;
    transform: translateX(-50%);
  }
  
  /* 侧边栏打开时处理页面宽度 */
  [for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .markdown-preview {
    left: calc(50% + 150px) !important;
    transform: translateX(-50%);
  }



/* ----------------------- */




/* 目录贴边优化 */
.md-sidebar-toc 
    .md-toc {
  font-size: 14px;
  line-height: 2em;
//   padding: 4px 8px 4px 4px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 5px 8px 9px -1px rgb(0 0 0 / 3%),
      0 3px 5px 0 rgb(0 0 0 / 3%),
      2px 3px 4px -1px rgb(0 0 0 / 4%);
  padding: 4px 8px 4px 4px !important;
  &>details:nth-child(1)>summary::before {
      content: '《';
  }
  &>details:nth-child(1)>summary::after {
      content: ' 》';
      padding-right: 5px;
  }
  &>details>summary+div {
      margin-right: 16px;
  }
    }

    .md-toc-link-wrapper {
        display: block;
        padding-right: 20px;
        list-style: none!important;
        border-bottom: 0;
        color: #555cbe;
        a {
            color: #007bff;
            text-decoration: none;
            display: block;
            padding: 5px 10px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            padding-right: 20px;
            border-bottom: 0;                    
            
            &:hover {
                background-color: rgba(0, 123, 255, 0.1);
                color: #007bff;
            }
        }
    }

code[class*="language-"] .token.comment,
pre[class*="language-"] .token.comment,
code[class*="language-"] .token.prolog,
pre[class*="language-"] .token.prolog,
code[class*="language-"] .token.doctype,
pre[class*="language-"] .token.doctype,
code[class*="language-"] .token.cdata,
pre[class*="language-"] .token.cdata {
  color: #999988;
  /* font-style: italic */
}

code[class*="language-"] .token.punctuation .regex-source,
pre[class*="language-"] .token.punctuation .regex-source {
  color: #9f9f9f
}

code[class*="language-"] .token.regex,
pre[class*="language-"] .token.regex {
  color: #ee82ee;
}

code[class*="language-"] .namespace,
pre[class*="language-"] .namespace {
  opacity: .7
}

code[class*="language-"] .token.property,
pre[class*="language-"] .token.property {
  /* font-weight: bold; */
  color: #986801
}

code[class*="language-"] .token.boolean,
pre[class*="language-"] .token.boolean,
code[class*="language-"] .token.number,
pre[class*="language-"] .token.number,
code[class*="language-"] .token.function-name,
pre[class*="language-"] .token.function-name {
  color: #ff230f
}

code[class*="language-"] .token.tag,
pre[class*="language-"] .token.tag {
  color: #ff230f
}

code[class*="language-"] .token.symbol,
pre[class*="language-"] .token.symbol {
  color: #990073
}

code[class*="language-"] .token.selector,
pre[class*="language-"] .token.selector {
  color: #ef21df
}

code[class*="language-"] .token.attr-name,
pre[class*="language-"] .token.attr-name {
  color: #626262;
}

code[class*="language-"] .token.string,
pre[class*="language-"] .token.string {
  color: #3e9100
}

code[class*="language-"] .token.char,
pre[class*="language-"] .token.char {
  color: #606aa1
}

code[class*="language-"] .token.url,
pre[class*="language-"] .token.url {
  color: #888
}

code[class*="language-"] .token.atrule,
pre[class*="language-"] .token.atrule,
code[class*="language-"] .token.attr-value,
pre[class*="language-"] .token.attr-value {
  color: #02b100;
}

code[class*="language-"] .token.keyword,
pre[class*="language-"] .token.keyword {
  color: #b81eec;
  /* color: #ff2323; */
}

code[class*="language-"] .token.function,
pre[class*="language-"] .token.function {
  color: #3e9100
}

// code[class*="language-"] .token.function-variable,
// pre[class*="language-"] .token.function-variable {
//     color: #ffa000
// }

code[class*="language-"] .token.maybe-class-name,
pre[class*="language-"] .token.maybe-class-name {
  color: #ffa000
}

code[class*="language-"] .token.property-access,
pre[class*="language-"] .token.property-access {
  color: #ff230f;
}

code[class*="language-"] .token.class-name,
pre[class*="language-"] .token.class-name {
  /* text-decoration: underline; */
  color: #ffa000
}

code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
  color: #008080
}

code[class*="language-"] .token.important,
pre[class*="language-"] .token.important,
code[class*="language-"] .token.bold,
pre[class*="language-"] .token.bold {
  font-weight: bold
}

code[class*="language-"] .token.italic,
pre[class*="language-"] .token.italic {
  font-style: italic
}

code[class*="language-"] .token.entity,
pre[class*="language-"] .token.entity {
  cursor: help
}

/* ----------------------- */



/* ---滚动条--- */

/* 整个滚动条 */
 .md-sidebar-toc::-webkit-scrollbar,
::-webkit-scrollbar {
  /* 对应纵向滚动条的宽度 */
  width: 8px !important;
  /* 对应横向滚动条的宽度 */
  height: 8px;
  margin-right: 20px;
}

/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
  background-color: #dedede !important;
  border-radius: 10px !important;
  border: 0 !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1 !important;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #fcfcfc !important;
  border-radius: 32px;
}

/* ----------------------- */